/*estilos globales*/
h1 {
    font-size: 3rem; 
    color: #fff; 
    font-weight: bold; 
}
h2 {
    font-size: 2.5rem; 
    color: #333; 
    font-weight: bold; 
}
p {
    font-size: 1.5rem; 
    color: #555; 
    line-height: 1.6; 
}
body {
    background-color: #f7fdff;
}

/*barra navegacion */
.navbar {
    position: sticky;
    top: 0;
    z-index: 1000; 
    width: 100%; 
}
.navbar-dark .navbar-nav .nav-link {
    color: white;
    font-size: 1rem;
    margin-right: 2rem;
    font-weight: 500;
}
.navbar-dark .navbar-brand {
    color: white;
}
.logo {
    margin-left: 2rem;
}

/*PAGINA INDEX PRINCIPAL */
/*Seccion Hero */
.hero-section {
    position: relative;
    width: 100%; 
}
.imagen-principal {
    width: 100%;
    height: auto;
}
.imagen-principal img {
    width: 100%;
    height: auto;
    display: block; 
}
.texto-h1-pagina1 {
    position: absolute;
    bottom: 5%; 
    left: 5%; 
    width: 80%; 
    max-width: 100%; 
}

/*Seccion Soluciones */
.seccion-soluciones {
    margin-top: 5%;
    margin-bottom: 5%;
}
.seccion-soluciones .col-md-6 {
    align-self: flex-end; 
}
.seccion-soluciones .img-fluid {
    max-width: 65%;
    max-height: auto;
    margin: 0 auto;
    display: block;
    border-radius: 5px;
}
.btn {
    background-color: #C41517; 
    color: #fff;
    font-weight: 600;
    border: 0;
}
.btn:hover {
    background-color: #333; 
    color: #fff;
    font-weight: 600;
}

/*Seccion Consigue */
.seccion-consigue {
    margin-top: 15%;
}
.recuadro-debajo {
    background-color: #eaeaea; 
    margin-top: -18%;
    height: 45vh;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    z-index: -1;
}
.texto-seccion3 {
    margin: auto;
}
.imagen-seccion3 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 70%;
    margin-top: -15%; 
    border-radius: 10px;
    z-index: 10; 
}
.imagen-seccion3mobil {
    display: none;
}

/*media queries*/
@media (max-width: 768px) {

    h2 {
        font-size: 2rem; 
    }
    p {
        font-size: 1.25rem; 
    }
    .seccion-soluciones{
        padding: 5% 5%;
    }
    .imagen-principal img{
        width: auto;
        height: 70vh;
    }
    .texto-h1-pagina1 {
        display: none;
    }

    .seccion-soluciones .img-fluid {
        max-width: 100%;
        margin-top: 5%;
    }
    .seccion-soluciones .col-md-6 {
        width: 100%; 
        padding: 0;
        margin: 0;
    }
    .btn {
        background-color: #C41517; 
        border: 0;
        width: 100%;
        display: block;
    }

    .recuadro-debajo {
        display: none;
    }
    .imagen-seccion3mobil {
        display: flex;
        padding-top: 5%;
    }
    .imagen-seccion3 {
        display: none;
    }
    .seccion-consigue {
        margin-top: 0;
        background-color: #eaeaea;
    }
}