.mejores-herramientas {
    text-align: center;
    margin-bottom: 8%;
}

.mejores-herramientas h2 {
    display: inline-block;
    font-weight: 600;
    margin-bottom: 3%;
}

.mejores-herramientas h4 {
    font-size: 1.5rem; 
    color: $text-color; 
    font-weight: 600; 

}

.mejores-herramientas img {
    width: 20%;
    height: auto;
}

.separador-herramientas {
    color: $text-color;
}

/*Seccion Casos*/

.casos {
    border-bottom: 1px solid #ddd; 
    padding-bottom: 10%; 
  }

.casos-estudio img {
    height: 25vh;
}

.casos-estudio h2{
    padding-left: 8%;
    border-bottom: 1px solid #ddd;
    padding-bottom: 16px; 
    padding-top: 5%;
    font-weight: 600;
}

.casos-estudio p {
    padding-right: 10%;
}

.casos-estudio .col-9 {
    padding-bottom: 5%;
}

.casos-estudio a {
    text-decoration: none;
    color: $text-color;
}
 
