@media (max-width: 768px) {
    
    .mejores-herramientas {
        text-align: left;
    }
    
    .mejores-herramientas h2 {
        font-size: 2.5rem;
        text-align: left;
        margin-top: 10%;
        padding: 5% 5% 10% 5%;
    }
    
    .mejores-herramientas h4 {
        display: inline-block;
        font-size: 2rem; 
        color: $text-color; 
        font-weight: 600; 
        margin-bottom: 20%;
        padding-left: 5%;
    
    }
    
    .mejores-herramientas img {
        width: 30%;
        height: auto;
    }

    .mejores-herramientas .row {
        padding-left: 5%; 
    }

    .casos-estudio img {
        height: 12vh;
    }

    .casos-estudio p {
        display: none;
    }

}