@media (max-width: 768px) {
    .nuestro-trabajo-main .img-fluid{
        display: none;
    }

    .botones-trabajo-main {
        width: 100%;
        display: block;
        text-align: center;
        margin: 10% 0% 15% 0%;
    }

    .botones-trabajo-main .btn {
        margin-top: 3%;
    }

    .nuestro-trabajo-main hr {
        display: none;
    }



    .mejores-herramientas {
        text-align: left;
        background-color: white;
    }
    
    .mejores-herramientas h2 {
        font-size: 2.5rem;
        text-align: left;
        margin-top: 10%;
        padding: 5% 5% 10% 5%;
    }
    
    .mejores-herramientas h4 {
        display: inline-block;
        font-size: 2rem; 
        color: $text-color; 
        font-weight: 600; 
        margin-bottom: 20%;
        padding-left: 5%;
    
    }
    
    .mejores-herramientas img {
        width: 30%;
        height: auto;
    }
    
    .mejores-herramientas .row {
        padding-left: 5%; 
    }

    .casos-estudio img {
        display: unset;
        height: 12vh;
    }
}