
@import "../base/variables";

.btn {
    background-color: $rojo-principal; 
    color: #fff;
    font-weight: 600;
    border-radius: 5px;
    padding: 1% 5% 1% 5%;
}
.btn:hover {
    background-color: $text-color; 
    color: #fff;
    font-weight: 600;
}

@media (max-width: 768px) {

    .btn {
        background-color: $rojo-principal; 
        width: 100%;
        display: block;
    }

}